@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/* lessthan 510px width */
@media screen and (max-width: 510px) {
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .main-menu ul {
    padding-left: 0;
    margin-top: 0;
    background-color: rgb(144, 118, 230);
    opacity: 0.7;
    width: 100%;
    margin-bottom: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
  }

  .main-menu ul li a:hover {
    color: rgb(230, 192, 255);
  }
  .menu-items {
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    text-shadow: none;
    line-height: 30px;
  }
  .main-menu ul li a {
    text-decoration: none;
  }
  .main-image {
    margin-top: 0px;
    height: 400px;
    background-color: #999999;
    background-image: url("headimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .main-heading {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    color: rgb(253, 253, 253);
    font-family: "Raleway", sans-serif;
    text-shadow: 2px 2px 1px rgb(31, 77, 152);
  }
  .heading-text {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    color: rgb(224, 229, 235);
    font-family: "Raleway", sans-serif;
    text-shadow: 2px 2px 1px rgb(31, 77, 152);
  }
  .about {
    margin: 0;
    padding: 20px;
    display: flex;
    height: 150px;
  }
  .about-intro {
    font-family: serif;
    text-align: center;
    font-size: 15px;
  }
  .about-img {
    display: none;
    padding: none;
    margin: none;
  }
  .section-header {
    font-size: 20px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
    color: mediumblue;
    text-shadow: 1px 1px 1px red;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    opacity: 0.9;
  }
  button {
    font-size: 30px;
    border-radius: 10px;
    border: none;
  }
  .service-img img {
    width: 150px;
    height: 130px;
    border-radius: 18px;
    margin-right: auto;
  }

  .service-items {
    margin-bottom: 5px;
    height: 130px;
    border: 2px solid gray;
    border-radius: 20px;
    display: flex;
    padding-bottom: 15px;
  }
  .service-txt {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 40px;
    padding-bottom: 0;
  }
  .view-services {
    margin-left: auto;
    margin-right: 5px;
    display: block;
    height: 25px;
    width: 120px;
    font-size: 12px;
    cursor: pointer;
    background: lightblue;
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
  }
  .contact {
    background-color: green;
    margin: 0;
    padding-top: 10px;
    display: block;
    height: 500px;
  }
  .contact-header {
    text-align: center;
    color: white;
  }
  .address {
    margin: 0 40px;

    text-align: center;
    color: white;
  }
  .address p {
    font-size: 15px;
  }
  .map {
    text-align: center;
    width: 100%;
    height: 200px;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
  #footer {
    text-align: center;
    background-color: #d1def9;
    font-family: serif;
    line-height: 25px;
  }
}

/* width from 512 to 800 */

@media screen and (max-width: 800px) and (min-width: 512px) {
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
  }
  .main-menu {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .main-menu ul {
    padding-left: 0;
    margin-top: 0;
    background-color: rgb(144, 118, 230);
    opacity: 0.7;
    width: 100%;
    margin-bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
  }

  .main-menu ul li a:hover {
    color: rgb(230, 192, 255);
  }
  .menu-items {
    padding-left: 15px;
    list-style-type: none;
    font-size: 26px;
    font-family: serif;
    font-weight: bold;
    text-shadow: none;
    line-height: 50px;
  }
  .main-menu ul li a {
    text-decoration: none;
  }

  .main-image {
    margin: 0;
    height: 500px;
    background-color: #999999;
    background-image: url("headimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .main-heading {
    padding-top: 150px;
    padding-left: 60px;
    font-size: 60px;
    font-family: "Raleway", sans-serif;
    color: white;
    text-shadow: 3px 3px 2px rgb(31, 77, 152);
  }
  .heading-text {
    font-size: 22px;
    padding: 20px 20px 20px 60px;
    font-family: "Raleway", sans-serif;
    color: rgb(224, 229, 235);
    text-shadow: 2px 2px 1px rgb(31, 77, 152);
  }
  .about {
    display: flex;
    margin: 0px 60px;
    height: 300px;
    margin-bottom: 10%;
  }
  .about-intro {
    height: 200px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  .about-img {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 30px;
  }
  .about-img img {
    width: 250px;
    transform: perspective(800px) rotateY(-30deg);
    transition: transform 1s ease 0s;
  }
  .about-img img:hover {
    transform: perspective(800px) rotateY(-1deg);
  }
  .section-header {
    font-size: 30px;
    margin: 30px 0;
    text-align: center;
    font-weight: bold;
    color: mediumblue;
    text-shadow: 1px 1px 1px red;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    opacity: 0.9;
  }
  button {
    font-size: 30px;
    border-radius: 10px;
    border: none;
  }

  .service-img img {
    width: 100%;
    height: auto;
    border-radius: 13px;
  }
  .services {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
  .service-items {
    margin: 10px;
    border: 2px solid gray;
    border-radius: 15px;
    text-align: center;
    display: block;
    padding-bottom: 5px;
  }
  .service-txt {
    padding: 0;
    font-size: 13px;
  }
  .view-services {
    margin-left: auto;
    margin-right: 30px;
    display: block;
    height: 25px;
    width: 150px;
    font-size: 15px;
    cursor: pointer;
    background: lightblue;
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
  }

  .contact {
    background-color: rgb(94, 77, 128);
    margin: 0;
    padding-top: 10px;
    display: block;
    height: 470px;
  }
  .contact-header {
    text-align: center;
    color: white;
  }
  .address {
    margin: 0 40px;
    text-align: center;
    color: white;
  }
  .address p {
    font-size: 18px;
  }
  .map {
    text-align: center;
    width: 100%;
    height: 200px;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
  #footer {
    text-align: center;
    background-color: #565a61;
    color: white;
    font-family: serif;
    line-height: 25px;
  }
  .upper {
    text-transform: uppercase;
  }
}

/* morethan 801px width */
@media screen and (min-width: 801px) {
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
  }
  .main-menu {
    width: 80%;
    margin-left: 0;
    margin-right: 0;
  }
  .main-menu ul {
    padding-left: 0;
    margin-top: 0;
    background-color: rgb(144, 118, 230);
    opacity: 0.8;
    width: 100%;
    margin-bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
  }

  .main-menu ul li a:hover {
    color: rgb(230, 192, 255);
  }
  .menu-items {
    padding-left: 15px;
    list-style-type: none;
    font-size: 30px;
    font-family: serif;
    font-weight: bold;
    text-shadow: none;
    line-height: 60px;
  }
  .main-menu ul li a {
    text-decoration: none;
  }

  .main-image {
    margin: 0;
    height: 650px;
    background-color: #999999;
    background-image: url("headimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .main-heading {
    padding-top: 200px;
    padding-left: 100px;
    font-size: 70px;
    font-family: "Raleway", sans-serif;
    color: white;
    text-shadow: 4px 4px 1px rgb(31, 77, 152);
  }
  .heading-text {
    font-size: 30px;
    padding: 20px 20px 20px 100px;
    font-family: "Raleway", sans-serif;
    color: rgb(224, 229, 235);
    text-shadow: 2px 2px 1px rgb(31, 77, 152);
  }
  .about {
    display: flex;
    margin: 0px 60px;
    height: 400px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20%;
  }
  .about-intro {
    text-align: center;
    padding: 0 30px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  .about-img {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 20px;
  }
  .about-img img {
    width: 400px;
    transform: perspective(800px) rotateY(-30deg);
    transition: transform 1s ease 0s;
  }
  .about-img img:hover {
    transform: perspective(800px) rotateY(-1deg);
  }
  .section-header {
    font-size: 50px;
    margin: 30px 0;
    text-align: center;
    font-weight: bold;
    color: mediumblue;
    text-shadow: 1px 1px 1px red;
  }
  .btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    opacity: 0.2;
  }
  .btn:hover {
    opacity: 0.8;
  }
  button {
    font-size: 30px;
    border-radius: 10px;
    border: none;
  }

  .service-img img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .services {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
  .service-items {
    margin: 10px;
    border: 2px solid gray;
    border-radius: 20px;
    text-align: center;
    display: block;
    padding-bottom: 15px;
  }
  .service-txt {
    padding: 0;
  }
  .view-services {
    margin-left: auto;
    margin-right: 30px;
    display: block;
    height: 25px;
    width: 150px;
    font-size: 15px;
    cursor: pointer;
    background: lightblue;
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
  }
  .contact {
    background-color: rgb(173, 190, 173);
    margin: 0;
    padding-top: 10px;
    display: block;
    height: 660px;
  }
  .contact-header {
    text-align: center;
    color: white;
  }
  .address {
    padding: 0 20px;
    width: 100%;
    display: block;
    background-color: red;
    text-align: center;
    color: white;
    
  }
  .address p {
    font-size: 20px;
  }
  .map {
    text-align: center;
    width: 100%;
    height: 300px;
  }
  iframe {
    width: 100%;
    height: 350px;
  }

  #footer {
    text-align: center;
    background-color: #d1def9;
    font-family: serif;
    line-height: 25px;
  }
  .con-section {
    display: flex;
    height: 310px;
  }
  .contact-form {
    background-color: rebeccapurple;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .form-lbl {
    background-color: aquamarine;
    width: 150px;
    height: 150px;
    display: inline;
    padding-left: 30px;
    line-height: 30px;
  }
  .form-lbl label {
    padding-bottom: 20px;
  }
  .form-input {
    line-height: 30px;
    text-align: center;
    background-color: blue;
    width: auto;
    height: 150px;
  }
  .form-input input{
    height: 15px;
    border-radius: 8px;
    border: 2px solid rgb(144, 118, 230);
    padding: 5px;
    outline: none;
  }
  textarea{
    outline: none;
    height: 50px;
    border-radius: 8px;
    padding: 5px;
  }
}



